{
    "singleQuote": true,
    "printWidth": 300,
    "tabWidth": 2,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "html.format.wrapAttributes": "preserve",
    "singleAttributePerLine": true
}